<section  class="header"> 
        <div id="header"></div>


        <div class="text-box">
            <h1>Blogs</h1>
            
            
        
        </div>
</section>


        <section class="blog">
           
            <div class="row">
                <div class="blog-col">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSZKWs0wblE8_G1PztoPdDbuS-oUQoAihzFA&usqp=CAU" alt="">
                    <div>
                        <p>
                            lorem ipsum dolor sit amet,consectetur adipiscing
                            elit,pellentesque adisque turpis nalla, eleifend faucibus
                            est,solicitudin ut,maecenus ut venatais us,
                            et dapibus purus
                        </p>
                        <h3>john dane</h3>
                    </div>
                </div>
                <div class="blog-col">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkRA5cMF1Ijg2OmGn-oZWkD0PIzCaBBZz1Cg&usqp=CAU" alt="">
                    <div>
                        <p>
                            lorem ipsum dolor sit amet,consectetur adipiscing
                            elit,pellentesque adisque turpis nalla, eleifend faucibus
                            est,solicitudin ut,maecenus ut venatais us,
                            et dapibus purus
                        </p>
                        <h3>jane doe</h3>
                    </div>
                </div>
            </div>

        </section>


        <div id="footer"></div>
        
        
        
         
             <script src="scripts/scriptt.js"></script>