<section class="header"> 
        <div id="header"></div>
        <div >
            <h1 class="text-box">Contact: +917204339121</h1>
        </div>

        
        </section>
<section>
<div style="text-align:center;margin-bottom: 100px;margin-top: 100px;">
    <h2 >Address
    
    </h2>
<p>#342/A,  navi drive,  palo alto suburb,  navi mumbai 896-236,  IN.</p>
</div>

</section>

<div id="footer"></div>
        <script src="scripts/scriptt.js"></script>